<%= div_for comment do %>
	<div class="user_summary">
		<span class="username"><%= comment.user.name %></span>
		<span class="timestamp"><%= comment.created_at.strftime("%l:%M %p").downcase %></span>
	</div>
	<div class="excerpt">
		<%= comment.body %>
	</div>
<% end %>